@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');



*{margin: 0; padding: 0; text-decoration: none;}



header{
  width: 100%;
  height: 88px;
  background-color: #A79773;
}
header nav ul li {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li a{
  margin-left: 60px;
}

.simbol{
  margin-left: 60px;
}


.bg02{
  width: 100%;
  height: 77px;
  background-color: #D4C8AD;
  display: flex;

}







.font_1{
  margin-top: 20px;
  margin-left: 510px;
  font-family: 'Cinzel', serif;


}

.font_2{
  margin-top: -27px;
  margin-left: 830px;
  font-family: 'Cinzel', serif;
}

.font_3{
  margin-top: -27px;
  margin-left: 1070px;
  font-family: 'Cinzel', serif;
}

.font_4{
  margin-top: -27px;
  margin-left: 1300px;
  font-family: 'Cinzel', serif;
}

.fo{
  margin-top: 1030px;
  margin-left: -315px;
}

div ul nav a{
  color: #000000;
  font-size: 1.3em;
  transition: 1s;

}
div ul nav a:hover{
  color: #ffffff;
  font-size: 1.4em;
  transition: 1s;

}

.bg03{
  width: 100%;
  height: 665px;
  background-image: url('img/main_img.png');
  background-color: #D4C8AD;
  display: flex;

}




.bg01{
  background-color: #EFE2C5;
  width: 100%;
  height: 1100px;
  display: flex;
}

.img1{
  margin-left: 385px;
  margin-top: 237px;
}

.img2{
  margin-left: -160px;
  margin-top: 237px;
}

.img3{
  margin-left: -400px;
  margin-top: 513px;
}

.img4{
  margin-left: -270px;
  margin-top: 237px;
}

.font1{
  margin-left: -565px;
  margin-top: 360px;
}
.font2{
  margin-left: -90px;
  margin-top: -30px;
}
.font3{
  margin-left: -430px;
  margin-top: 230px;
}
.font4{
  margin-left: 130px;
  margin-top: -31px;
}


.img1_op{

  margin-left: -1140px;
  margin-top: 237px;
}
.img2_op{

  margin-left: 14px;
  margin-top: 237px;
}
.img3_op{

  margin-left: -847px;
  margin-top: 513px;
}
.img4_op{

  margin-left: 12px;
  margin-top: 236px;
}


.mid_font{
  margin-left: -1120px;
  margin-top: 70px;
}


nav ul div a{
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Cinzel', serif;
  font-size: 1.5em;
  letter-spacing: -0.05em;
  transition: 1s;
}


nav ul div a:hover{
  color: #D4C8AD;
  font-size: 1.4em;
  transition: 1s;

}

header nav ul li img{
  width: 70px;
  height: 59px;
  margin-top: -160px;
  margin-left: -430px;
}

header nav ul li a{
  margin-top: 11px;
  color: #FFFFFF;
  font-size: 2.5em;
  font-family: 'Cinzel', serif;
}

header nav ul li a:hover{
  color: black;

}

.mid_font2{
  margin-left: -610px;
  margin-top: 190px;
}


.main_box{
  margin-left: -500px;
}




.font_5{
  margin-top: 20px;
  margin-left: -660px;
  font-family: 'Cinzel', serif;
}

.font_6{
  margin-top: -27px;
  margin-left: -380px;
  font-family: 'Cinzel', serif;
}

.font_7{
  margin-top: -27px;
  margin-left: -160px;
  font-family: 'Cinzel', serif;
}

.font_8{
  margin-top: -27px;
  margin-left: 70px;
  font-family: 'Cinzel', serif;
}

.bg06{
  width: 249px;
  height: 81px;
  background-color: #EFE2C5;
  margin-left: 1210px;

}






.main_04{
  margin-left: 328px;
  margin-top: 21px;
}

.main_text_04{

  margin-top: 350px;
  margin-left: -530px;
}





.box01{
  height: 155px;
  margin-top: 1013px;
  margin-left: -1535px;
}


.sub_04_01{

  height: 344px;
  margin-top: 801px;
  margin-left: -370px;
}



.box02{
  height: 155px;
  margin-top: 1451px;
  margin-left: 359px;

}

.sub_04_02{
  height: 344px;
  margin-left: -770px;
  margin-top: 1228px;

}

.box03{
  height: 155px;
  margin-top: 1938px;
  margin-left: -1490px;
}

.sub_04_03{
  margin-top: 1720px;
  margin-left: -366px;
}

.sub_04_04{
  margin-top: 2290px;
  margin-left: 390px;
}

.sub_04_05{
  margin-top: 2790px;
  margin-left: -930px;
}

.sub_04_06{
  margin-top: 3390px;
  margin-left: -183px;
}

.sub_04_07{
  margin-top: 4030px;
  margin-left: -1092px;
}

.sub_04_08{
  margin-top: 4650px;
  margin-left: -396px;
}

.sub_04_09{
  margin-top: 5270px;
  margin-left: -1069px;
}

.sub_04_10{
  margin-top: 5950px;
  margin-left: -410px;
}
















.sub_04_01_text{
  margin-top: 915px;
  margin-left: -1080px;
}

.sub_04_02_text{
  margin-top: 1380px;
  margin-left: -850px;
}

.sub_04_03_text{
  margin-top: 1830px;
  margin-left: -270px;
}

.sub_04_04_text{
  margin-top: 2390px;
  margin-left: -920px;
}

.sub_04_text{
  margin-top: 2225px;
  margin-left: -1130px;
}

.sub_05_text{
  margin-top: 2300px;
  margin-left: -100px;
}

.sub_04_05_text{
  margin-top: 2900px;
  margin-left: 30px;
}

.sub_04_06_text{
  margin-top: 3490px;
  margin-left: -1560px;
}

.sub_04_07_text{
  margin-top: 4150px;
  margin-left: 60px;
}

.sub_04_08_text{
  margin-top: 4690px;
  margin-left: -1500px;
}

.sub_04_09_text{
  margin-top: 5390px;
  margin-left: 70px;
}

.sub_04_10_text{
  margin-top: 6050px;
  margin-left: -1370px;
}



.bg05{
  width: 100%;
  height: 5500px;
  background-color: #EFE2C5
}
